<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="post">
        <form action="/data" method="post">
            Username: <input type="text" name="username"><br><br>
            Content: <textarea name="content" id=""></textarea><br>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>